*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:rgba(1, 0, 0, 0.9);
}


.disp-grid{
    height:100vh;
    display:grid;
    gap:3px;
    grid-template-columns:.7fr 1fr 1fr 1fr;
    grid-template-rows:0.3fr 1fr 0.3fr;
}

.disp-grid > div{
    background-color:grey;
}

.disp-grid > div#header{
    grid-column:1/5;
    display:grid;
    grid-template-columns:0.2fr;
}

div#header > .logo{
    display:flex;
    font-size:20px;
    justify-content:center;
    align-items:center;
    background-color:rgb(180, 180, 180);
}
.disp-grid > div#navbar{
    grid-column:1/2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.disp-grid > div#navbar > ul {
    list-style-type:none;
    border:1px solid red;
    height:60vh;
    display: flex;
    flex-flow:column;
    align-self:center;
    justify-content:space-around;
    text-align:center;
}

.disp-grid > div#navbar > ul > li > a{
    text-decoration:none;
    color:black;
    box-shadow:1px 2px 3px black;
    background-color:white;
    padding:10px 60px;
    display:flex;
    justify-content:center;
    width:50%;
    margin:0 auto;
    
}

.disp-grid > div#navbar > ul > li > a:hover{
    background-color:rgb(97, 97, 172);
}


.disp-grid > div#main{
    
    grid-column:2/4;
}
.disp-grid > div#aside{
    
}
.disp-grid > div#footer{
    grid-column:1/5;
}


/* responsive */
@media screen and (max-width:640px) {
    .disp-grid > div{
     display:none;
    }
}